<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="daniel.avila.ricknmortykmm.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KmmApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.CharacterDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.CharactersFavoriteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.CharactersActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 